mixin header(intro)
  p #{intro}
  
mixin attribute(key, value)
  h2 #{key}:
    strong.intro  #{value}

mixin typography(id, heading, style, html)
  li.feature
    h2.description
      strong #{id} 
    #{heading}
    div(class='stdff playarea_color_header_1 ' + style).
    #{html}

img(src='/images/fei/logo.png')
.header
  mixin attribute("Author", author)
  mixin attribute("Revision", revision)
  mixin attribute("Last revision", last_revision)
  mixin attribute("Last revision by", last_revision_by)
  mixin header(introduction)

ul.categories
  li.category
    h1 Typography
    ul.features
      mixin typography('-tpg001', 'Social Quiz body title 1', 'title_1 shading_cutout_1', 'Welcome to the live game')
      mixin typography('-tpg002', 'Social Quiz body text 1', 'body_1 shading_cutout_1', 'Englishtown introduces a way for you to practice English together with your fellow students. You can play it as often as you like.' )
      mixin typography('-tpg003', 'Social Quiz header title 1', 'title_1 shading_hover_1', '<span class="light_note">Level </span>5 <span class="light_note">Unit </span>7 Talking to a Police officer' )
      mixin typography('-tpg004', 'Social Quiz question word', 'mega_title_1 shading_cutout_1', 'Cloud')
    h1 Buttons
    ul.features
      li.feature